[Unit]
Description=Gitaly Git RPC service
After=network.target

[Service]
ExecStart=/home/marques/gitaly-1.deployment/_build/bin/gitaly serve  /home/marques/gitaly-1.deployment/config.toml
Restart=always
User=marques
Group=marques

[Install]
WantedBy=multi-user.target